@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-black: #000;
  --color-black-100: #000319;
  --color-black-200: rgba(17, 25, 40, 0.75);
  --color-black-300: rgba(255, 255, 255, 0.125);

  --color-white: #fff;
  --color-white-100: #bec1dd;
  --color-white-200: #c1c2d3;
  --color-white-300: #e7e5e4;
  --color-white-400: #f5f5f4;
  --color-white-500: #f5f5f4;
  --color-white-600: #fafaf9;

  --color-blue-100: #e4ecff;
  --color-attBlue: rgba(68, 152, 200, 1);
  --color-oracleGold: rgba(202, 166, 111, 1);
  --color-mtaBlue: rgba(52, 119, 210, 1);
  --color-blueImport: rgba(155, 219, 252, 1);
  --color-deepPurple: #9c27b0;
  --color-purple: #cbacf9;
  --color-purple1: rgba(183, 126, 179, 1);

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --font-sans: ui-sans-serif, system-ui;
  --font-sourceCodePro: "Source Code Pro", monospace;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 0%;

  --card: 255 100% 98%;
  --card-foreground: 0 0% 0%;

  --popover: 255 100% 98%;
  --popover-foreground: 0 0% 0%;

  --primary: 203 100% 50%;
  --primary-foreground: 0 0% 0%;

  --secondary: 120 30% 90%;
  --secondary-foreground: 0 0% 20%;

  --muted: 0 0% 67%;
  --muted-foreground: 0 0% 20%;

  --accent: 40 90% 60%;
  --accent-foreground: 0 0% 0%;

  --destructive: 0 80% 70%;
  --destructive-foreground: 0 0% 0%;

  --border: 0 0% 80%;
  --input: 0 0% 90%;
  --ring: 203 100% 50%;

  --radius: 0.5rem;
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;

  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;

  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;

  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;

  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;

  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;

  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;

  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
}

@layer base {
  * {
    @apply border-border;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@utility heading {
  @apply font-bold text-4xl md:text-5xl text-center;
}

@utility black-gradient {
  background: linear-gradient(90deg, #ffa500 0%, #ffffff 100%);
}

.custom-mb {
  margin-bottom: 2.5rem !important;
}

body {
  transition-property: opacity, background, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.page-transition {
  opacity: 0;
  background: white;
  transform: translateY(0);
  filter: blur(12px);
}
