@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 255 100% 98%;
    --card-foreground: 0 0% 0%;

    --popover: 255 100% 98%;
    --popover-foreground: 0 0% 0%;

    --primary: 203 100% 50%;
    --primary-foreground: 0 0% 0%;

    --secondary: 120 30% 90%;
    --secondary-foreground: 0 0% 20%;

    --muted: 0 0% 67%;
    --muted-foreground: 0 0% 20%;

    --accent: 40 90% 60%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 80% 70%;
    --destructive-foreground: 0 0% 0%;

    --border: 0 0% 80%;
    --input: 0 0% 90%;
    --ring: 203 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  .black-gradient {
    background: linear-gradient(90deg, #ffa500 0%, #ffffff 100%);
  }
}

.custom-mb {
  margin-bottom: 2.5rem !important;
}

body {
  transition-property: opacity, background, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.page-transition {
  opacity: 0;
  background: white;
  transform: translateY();
  filter: blur(12px);
}
